body
{
    background-color: #0d0d0d;
    font-family: "Lucida Sans Unicode";
    font-size: x-small;
    color: #e6e6e6;
}

.edit
{
    position: fixed;
    top: 6em;
    left: 2em;
    right: 2em;
    bottom: 2em;
    background-color: #404040;
}

.headnav
{
    position: fixed;
    left: 0;
    width: 100%;
    height: 4em;
    top: 1em;
    background-color: #8c8c8c;
}

.headnav h1
{
    position: relative;
    top: 0;
}